<h1 class="p-2">
  {{#if this.editing}}
    <input
      value={{@timer.name}}
      oninput={{action (mut @timer.name) value="target.value"}}
      onblur={{action (mut this.editing) false}}
      onchange={{action (mut this.editing) false}}
      {{did-insert this.focusEl}}
    >
  {{~else}}
    <span onclick={{action (mut this.editing) true}}>{{@timer.name}}</span>
  {{~/if~}}
  : {{@timer.displaySeconds}}
</h1>
<p>
  <button class="p-2 m-2 border shadow" onclick={{action this.state.toggle @timer}}>
    {{#if this.state.running}}
      {{fa-icon "pause"}}
    {{else}}
      {{fa-icon "play"}}
    {{/if}}
  </button>
  <button class="p-2 m-2 border shadow" onclick={{action this.addTime @timer (mult 15 -60)}}>&lt;-15m</button>
  <button class="p-2 m-2 border shadow" onclick={{action this.addTime @timer (mult 5 -60)}}>&lt;-5m</button>
  <button class="p-2 m-2 border shadow" onclick={{action this.addTime @timer -60}}>&lt;-1m</button>
  <button class="p-2 m-2 border shadow" onclick={{action this.state.zero @timer}}>0</button>
  <button class="p-2 m-2 border shadow" onclick={{action this.addTime @timer 60}}>1m-&gt;</button>
  <button class="p-2 m-2 border shadow" onclick={{action this.addTime @timer (mult 5 60)}}>5m-&gt;</button>
  <button class="p-2 m-2 border shadow" onclick={{action this.addTime @timer (mult 15 60)}}>15m-&gt;</button>
</p>
